<nav id="navbar-main-nav" class="navbar">
  <div class="row">
    <a class="toggle" gumby-trigger="#navbar-main-nav $main-nav" href="#">
      <i class="icon-menu"></i>
    </a>
    <h1 class="four columns logo">
      The Halls of ZK
    </h1>
    <nav class="ten columns pull_right">
      <ul id="main-nav">
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Documentation</a>
          <div class="dropdown">
            <ul>
              <li><a href="#">Commands</a></li>
              <li><a href="#">Walkthrough</a></li>
            </ul>
          </div>
        </li>
        <li>
          <p class="medium pretty default btn icon-github icon-left">
            <a href="https://github.com/tesneddon/zk"> GitHub</a>
          </p>
        </li>
      </ul>
    </nav>
  </div>
</nav>
