<nav id="navbar-main-nav" class="navbar">
  <div class="row">
    <a class="toggle" gumby-trigger="#navbar-main-nav #main-nav" href="#">
      <i class="icon-menu"></i>
    </a>
    <h1 class="four columns logo">
      <a href="{{ site.url }}/barcode.html">
        <img src="{{ site.url }}/img/logo-new.png" alt="The Halls of ZK"
	     onmouseover="this.src='{{ site.url }}/img/logo-old.png'"
	     onmouseout="this.src='{{ site.url }}/img/logo-new.png'">
      </a>
    </h1>
    <div class="pull_right">
      <ul id="main-nav">
        <li>
          <a href="{{ site.url }}/">About</a>
        </li>
        <li>
          <a href="#">History</a>
          <div class="dropdown">
            <ul>
              <li><a href="{{ site.url }}/photos.html">Photos</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">Documentation</a>
          <div class="dropdown">
            <ul>
              <li><a href="#">Commands</a></li>
              <li><a href="{{ site.url }}/map.html">Map</a></li>
              <li><a href="{{ site.url }}/features.html">New Features</a></li>
              <li><a href="#">Walkthrough</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="{{ site.url }}/play.html">Play</a>
        </li>
        <li>
          <p class="medium pretty default btn icon-github icon-left">
            <a href="https://github.com/tesneddon/zk"> GitHub</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</nav>
