<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/css/gumby.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  <link rel="shortcut icon" href="{{ site.url }}/favicon.png" type="image/x-icon" />
  <script src="{{ site.url }}/js/libs/jquery-1.9.1.min.js"></script>
  <script src="{{ site.url }}/js/libs/modernizr-2.6.2.min.js"></script>
  <script src="{{ site.url }}/js/libs/gumby.min.js"></script>
  <script src="{{ site.url }}/js/plugins.js"></script>
  <script src="{{ site.url }}/js/main.js"></script>
</head>
